@model WebStore.Domain.ViewModels.CartViewModel

@{
    var products_count = Model.ItemsCount > 0 ? Model.ItemsCount : (int?)null;
}

<a asp-controller="Cart" asp-action="Details"><i class="fa fa-shopping-cart"></i> Корзина&nbsp;@products_count</a>